<img class="imgbanner" src="assets/Banner-1.png">
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/pricing']"><mat-icon  class=header-icon>query_builder</mat-icon></a>
  </div>
  <div class=mat-elevation-z8>
    <mat-table  [dataSource]="dataSource" class="example-table" matsort asc>
      <!-- Product Name Column -->
      <ng-container matColumnDef="itinerary_name">
        <mat-header-cell *matHeaderCellDef class=header1-text>ORIGIN<mat-icon class=header-icon>local_airport</mat-icon>DESTINATION 
          </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <p><img class="imagestylecarrier" src="{{getimageforcarrier(row.carrier)}}"/>
            <span class=iconsize>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row.origin}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon class=iconsize>arrow_right_alt</mat-icon>&nbsp;&nbsp;&nbsp;{{row.destination}}</span>
            </p></mat-cell>
          </ng-container>
      <!-- Product Price Column -->
      <ng-container matColumnDef="Star1">
        <mat-header-cell *matHeaderCellDef class=header-text></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <p>${{row.amount}}<br/><img  src="assets/Booking.png"/></p>
       </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Details">
          <mat-cell *matCellDef="let row">
                      <table class=drawer-table>
                          <tr>
                              <td   class=drawer-text></td>
                            <td   class=drawer-header>{{row.origin}}</td>
                            <td   class=drawer-text>{{row.origin}}</td>
                             </tr>
                             <tr>
                              <td   class=drawer-text></td>
                            <td   class=drawer-header>Amount</td>
                            <td   class=drawer-text>{{row.amount}}</td>
                             </tr>
                             <tr>
                              <td   class=drawer-text></td>
                            <td   class=drawer-header>DetourScore</td>
                            <td   class=drawer-text>{{row.detourScore}}</td>
                             </tr>
                             <tr>
                              <td   class=drawer-text></td>
                            <td   class=drawer-header>TravelRestrictions</td>
                            <td   class=drawer-text>{{row.ngsRating}}</td>
                             </tr>
                             <tr>
                              <td   class=drawer-text></td>
                            <td   class=drawer-header><img class="imagedrawerstyle" src="assets/same-day-change.png"/>TravelRestrictions</td>
                            <td   class=drawer-text>{{row.ngsRating}}</td>
                             </tr>
                             <tr>
                              <td   class=drawer-text></td>
                            <td   class=drawer-header><img class="imagedrawerstyle" src="assets/same-day-change.png"/>TravelRestrictions</td>
                            <td   class=drawer-text>{{row.ngsRating}}</td>
                             </tr>
                             <tr>
                              <td   class=drawer-text></td>
                            <td   class=drawer-header><img class="imagedrawerstyle" src="assets/same-day-change.png"/>TravelRestrictions</td>
                            <td   class=drawer-text>{{row.ngsRating}}</td>
                             </tr>
                      </table>
          </mat-cell>
        </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class=header-row ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" MatRipple class=element-row (click)="toggleChild(row.pricingSolutionIndex)">
      </mat-row>
      <mat-row *matRowDef="let row; columns: ['Details']; when: isExpansionDetailRow"
      [@detailExpand]="row.detailRow ? 'collapsed':'expanded'"> </mat-row>
    </mat-table>
</div>
